<!-- Footer of an web application -->
<div class="footer-content d-flex flex-column justify-content-center align-items-center">
    <p class="footer-text">© 2025 CloudMate. Sva prava pridržana.</p>
</div>