<!DOCTYPE html>
<html lang="hr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- SEO -->
    <meta name="description" content="CloudMate - Brza i točna vremenska prognoza za tvoj grad.">
    <meta name="keywords" content="vremenska prognoza, weather, meteogram, temperatura, CloudMate">
    <meta name="author" content="Niko Crnčec">

    <!-- Browser compatibility -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Title & favicon -->
    <title>CloudMate</title>
    <link rel="icon" type="image/png" href="images/CloudMate.png">

    <!-- Fonts & Styles -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/dashboardStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Praise&family=Staatliches&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Habibi&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

    <!-- Open Graph (za dijeljenje na društvenim mrežama) -->
    <meta property="og:title" content="CloudMate - Vremenska prognoza">
    <meta property="og:description" content="Brza i točna vremenska prognoza gdje god da si.">
    <meta property="og:image" content="images/CloudMate.png">
    <meta property="og:type" content="website">
</head>