<!-- Body of the weather forecast -->
<p class="fs-1">Nedelja, 10. prosinca 2025.</p>
<p class="trihfc"><i class="fa-solid fa-clock me-2"></i> Satna prognoza</p>
<!-- Hourly forecast cards -->
<div class="hourly-scroll d-flex flex-row justify-content-between align-items-center mt-3 gap-1">
    <div class="card-border flex-fill d-flex flex-column justify-content-center align-items-center">
        <p class="hours text-center">9:00</p>
        <p class="text-center degree-bold">23°C</p>
        <img src="https://openweathermap.org/img/wn/10d@2x.png" alt="weat-icon" width="40" height="40" />
    </div>
    <div class="card-border flex-fill d-flex flex-column justify-content-center align-items-center">
        <p class="hours">12:00</p>
        <p class="text-center degree-bold">22°C</p>
        <img src="https://openweathermap.org/img/wn/10d@2x.png" alt="weat-icon" width="40" height="40" />
    </div>
    <div class="card-border flex-fill d-flex flex-column justify-content-center align-items-center">
        <p class="hours">15:00</p>
        <p class="text-center degree-bold">20°C</p>
        <img src="https://openweathermap.org/img/wn/10d@2x.png" alt="weat-icon" width="40" height="40" />
    </div>
    <div class="card-border flex-fill d-flex flex-column justify-content-center align-items-center">
        <p class="hours">18:00</p>
        <p class="text-center degree-bold">32°C</p>
        <img src="https://openweathermap.org/img/wn/10d@2x.png" alt="weat-icon" width="40" height="40" />
    </div>
    <div class="card-border flex-fill d-flex flex-column justify-content-center align-items-center">
        <p class="hours">21:00</p>
        <p class="text-center degree-bold">12°C</p>
        <img src="https://openweathermap.org/img/wn/10d@2x.png" alt="weat-icon" width="40" height="40" />
    </div>
</div>

<!-- Detailed weather report -->
<p class="trihfc mt-4"><i class="fa-solid fa-temperature-half me-2"></i> Meteorološki podaci za
    12:00
</p>
<div class="row my-3 ">
    <div class="col-auto d-flex flex-column gap-2">
        <p class="mb-0 detailed-wheater-report"><span class="bold-t"><i class="fa-solid fa-wind me-2"></i>
                Vjetar:</span> 5
            km/h</p>
        <p class="mb-0 detailed-wheater-report"><span class="bold-t"><i class="fa-solid fa-tachometer-alt me-2"></i>
                Tlak:</span> 1012 hPa</p>
        <p class="mb-0 detailed-wheater-report"><span class="bold-t"> <i class="fa-solid fa-cloud-rain me-2"></i>
                Oborina:</span> 0 mm</p>
    </div>
    <div class="col-auto d-flex flex-column gap-2 justify-content-start">
        <p class="mb-0 detailed-wheater-report"><span class="bold-t"><i class="fa-solid fa-droplet me-2"></i>
                Vlažnost:</span>
            60%</p>
        <p class="mb-0 detailed-wheater-report"><span class="bold-t"><i class="fa-solid fa-cloud me-2"></i>
                Naoblaka:</span>
            20%</p>
    </div>
</div>