body {
    background-color: #1a243d;
}

@media (min-width: 57px) {
    .logo {
        width: 60px;
        height: auto;
    }

    .search-form {
        display: flex;
        max-width: 70%;
        margin: 40px auto;
        border-radius: 30px;
        overflow: hidden;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.3s ease;
    }

    .search-form:focus-within {
        box-shadow:
            0 0 20px rgba(255, 111, 60, 0.7),
            /* narančasti glow */
            0 4px 12px rgba(0, 0, 0, 0.3);
        /* prirodna sjena */
    }

    .search-input {
        flex-grow: 1;
        border: none;
        padding: 12px 20px;
        font-size: 12px;
        background-color: #2c3b60;
        color: white;
        outline: none;
    }

    .search-input::placeholder {
        color: #c0c0c0;
    }

    .search-button {
        background-color: #FF6F3C;
        border: none;
        padding: 0 20px;
        cursor: pointer;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        transition: background-color 0.3s ease;
    }

    .search-button:hover {
        background-color: #e85b2d;
    }

    .habibi-regular {
        font-family: "Habibi", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5rem;
        color: #FF6F3C;
        margin: 0;
    }

    .permanent-marker-regular {
        font-family: "Permanent Marker", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 1.8rem;
        margin: 0;
        color: #e85b2d;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    }

    .logo {
        width: 50px;
        height: auto;
    }

    /* switch settings 👇 */

    .ui-switch {
        /* switch */
        --switch-bg: rgb(135, 150, 165);
        --switch-width: 48px;
        --switch-height: 20px;
        /* circle */
        --circle-diameter: 32px;
        --circle-bg: rgb(0, 56, 146);
        --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
    }

    .ui-switch input {
        display: none;
    }

    .slider {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: var(--switch-width);
        height: var(--switch-height);
        background: var(--switch-bg);
        border-radius: 999px;
        position: relative;
        cursor: pointer;
    }

    .slider .circle {
        top: calc(var(--circle-inset) * -1);
        left: 0;
        width: var(--circle-diameter);
        height: var(--circle-diameter);
        position: absolute;
        background: var(--circle-bg);
        border-radius: inherit;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        ;
    }

    .slider .circle::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.75);
        border-radius: inherit;
        -webkit-transition: all 500ms;
        -o-transition: all 500ms;
        transition: all 500ms;
        opacity: 0;
    }

    /* actions */

    .ui-switch input:checked+.slider .circle {
        left: calc(100% - var(--circle-diameter));
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
    }

    .ui-switch input:active+.slider .circle::before {
        -webkit-transition: 0s;
        -o-transition: 0s;
        transition: 0s;
        opacity: 1;
        width: 0;
        height: 0;
    }

    .bg-top {
        background-color: #2c3b60;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25),
            0 4px 6px rgba(0, 0, 0, 0.15);
    }

    .current-weather {
        background: url('../images/SunnyDay.png') no-repeat center center;
        background-size: cover;
        border-radius: 20px;
        padding: 30px;
        margin: 20px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25),
            0 4px 6px rgba(0, 0, 0, 0.15);
    }

    .staatliches-regular {
        font-family: "Staatliches", sans-serif;
        font-weight: 500;
        font-style: normal;
        color: #1a243d;
        font-size: 2rem;
    }

    .temperature {
        font-family: "Praise", cursive;
        font-weight: 600;
        font-style: normal;
        font-size: 5rem;
        color: #1a243d;
    }

    .description {
        font-family: "Staatliches", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.5rem;
        color: white;
    }

    .weather-icon {
        background-color: #1a243d;
        border-radius: 20px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25),
            0 4px 6px rgba(0, 0, 0, 0.15);
    }

    .weat-img {
        width: 60px;
        height: 60px;
        object-fit: cover;
    }

    .seems-like {
        font-family: "Staatliches", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.5rem;
        color: #1a243d;
    }

    .max-temp,
    .min-temp {
        background-color: #1a243d;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25),
            0 4px 6px rgba(0, 0, 0, 0.15);
    }

    .description-min,
    .description-max {
        font-family: "Staatliches", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.2rem;
        color: white;
        margin: 0;
    }

    .temperature-min,
    .temperature-max {
        font-family: "Praise", cursive;
        font-weight: 600;
        font-style: normal;
        font-size: 2.5rem;
        color: #e85b2d;
        margin: 0;
    }

    .pressure,
    .humidity,
    .cloudiness,
    .wind-speed {
        border-radius: 20px;
        padding: 15px;
    }

    .pressure {
        background: url('../images/pressure.png') no-repeat center center;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25),
            0 4px 6px rgba(0, 0, 0, 0.15);
    }

    .humidity {
        background: url('../images/humidity.jpeg') no-repeat center center;
        background-size: cover;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25),
            0 4px 6px rgba(0, 0, 0, 0.15);
    }

    .cloudiness {
        background: url('../images/cloudiness.jpg') no-repeat center center;
        background-size: cover;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25),
            0 4px 6px rgba(0, 0, 0, 0.15);
    }

    .wind-speed {
        background: url('../images/wind.jpg') no-repeat center center;
        background-size: cover;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25),
            0 4px 6px rgba(0, 0, 0, 0.15);
    }

    .detailed-info {
        margin: 20px;
    }

    .pressure-title,
    .humidity-title,
    .cloudiness-title,
    .wind-title {
        font-family: "Staatliches", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.5rem;
        color: #1a243d;
        margin-bottom: 10px;
    }

    .dwi {
        font-family: "Staatliches", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 2rem;
        color: #e85b2d;
        margin: 0;
        padding: 20px 20px;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    }

    .bg-value {
        font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
        font-size: 2.5rem;
        color: #1a243d;
        margin: 0;
        text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
    }

    .font-icons {
        font-size: 2rem;
        color: #1a243d;
    }

    .hpa {
        font-size: 1.5rem;
    }

    .forecast-section {
        padding: 20px;
    }

    .accordion-button:focus {
        box-shadow: none;
        /* makne plavi "outline" */
    }

    .accordion-button {
        padding: 15px;
    }

    .accordion-button:not(.collapsed) {
        background-color: #2c3b60;
        /* tvoja boja kad je otvorena (bijela ovdje) */
        color: #e85b2d;
        /* zadrži default tekst */
        box-shadow: none;
        /* makne plavi rub */
    }

    .accordion-button.collapsed {
        background-color: #1a243d;
        color: #e85b2d;
    }

    .accordion-item {
        border: 1px solid #e85b2d;
        /* makne crtu između itema */
    }

    .accordion-button::after {
        filter: invert(36%) sepia(69%) saturate(7462%) hue-rotate(2deg) brightness(98%) contrast(96%);
    }

    .accordion-body {
        background-color: #121828;
        color: #e85b2d;
        padding: 10px;
    }

    .weat-icon-forecast {
        width: 50px;
        height: 50px;
    }

    .date {
        font-size: 0.8rem;
    }

    .forecast-title {
        font-family: "Staatliches", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 2rem;
        color: #e85b2d;
        margin-bottom: 20px;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    }

    .trihfc {
        font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-size: 1rem;
        color: #c0c0c0;
        margin-bottom: 10px;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    }

    .card-border {
        border: 1px solid #f9a826;
        border-radius: 10px;
        padding-top: 10px;
        background: linear-gradient(180deg, #e85b2d 0%, #19223a 25%, #1b263b 100%);
        background-size: 100% 200%;
    }

    .hours {
        color: white;
    }

    .degree-bold {
        font-weight: bold;
        color: #f9a826;
    }

    .detailed-wheater-report {
        font-size: 0.8rem;
        color: #c0c0c0;
    }

    .bold-t {
        font-weight: bold;
        color: #f9a826;
    }

    span>i {
        color: white;
    }

    .footer-text {
        font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-size: 1rem;
        color: #c0c0c0;
        text-align: center;
        margin: 0;
        padding: 15px;
    }

    .footer-content {
        background-color: #2c3b60;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25), 0 4px 6px rgba(0, 0, 0, 0.15);
    }
}

@media (min-width: 794px) {
    .display-current-weather {
        width: 90%;
    }
}

@media(min-width: 788px) {
    .display-current-weather {
        width: 90%;
    }

    .forecast-section {
        border: 1px solid #e85b2d;
        border-radius: 2rem;
        width: 60%;
        margin: 2rem;
    }

    .forecast-section-responsive {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search-form {
        max-width: 70%;
    }

    .search-input {
        font-size: 1rem;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .laptop-responsive {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .current-weather,
    .current-weather-card {
        width: 100%;
    }
}